<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log-in</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./normalize.css">
</head>
<body>
  <% if (!sessionUser) { %>
    <div class="seccion">
      <h2 class="azul">Login del Usuario</h2>
      <form action="/login" method="post">
        <div class="">
          <h3 class="">Login</h3>
        </div>
        <div class="">
          <label for="email" class="">Email</label>
          <input type="email" class="" id="email" name="email" required>
          <label for="password" class="">Password</label>
          <input type="password" class="" id="password" name="password" required>
        </div>
        <div class="">
          <button type="submit" class="">Send</button>
        </div>
      </form>
    </div>
  <% } else { %>
    <div class="seccion">
      <h1>Bienvenido <span id="nameUser"><%=sessionUser.name%></span> <span id="lastnameUser"><%=sessionUser.lastname%></span> </h1>
      <span class="" onclick="logout()">Logout</span>
    </div>

    <div class="seccion">
      <div class="form">
        <h2 class="azul">Ingrese un producto</h2>
        <form action='/api/productos' method="POST">
          <label for="title"  class="none"></label>  
          <input type="text" id="title"  name="title"  placeholder="Ingrese nombre  del producto"  required>
          <label for="price"  class="none"></label>  
          <input type="text" id="price"  name="price"  placeholder="Ingrese precio del producto"  required>
          <label for="imageUrl"  class="none"></label>  
          <input type="text" id="imageUrl"  name="imageUrl"  placeholder="Ingrese imagen del producto"  required>
            <div>
              <input type="submit" value="Upload Data">
            </div>
        </form>
      </div>

      <div class="productos">
        <h2 class="azul">Vista de Productos</h2>
        <div class="cards" id="cards">
          <% if (productos) {%> 
            <% for (const prod of productos) { %>
              <article id=<%=prod?.id%> class="container-card">
                <div class="card">
                  <img src=<%=prod?.imagen%> alt=<%=prod?.nombre%>/>
                  <div class="card-body">
                    <h4 class="card-title"><%=prod?.nombre%></h4>
                    <p class="card-text">Precio: <%=prod?.precio%></p>
                  </div>
                </div>
              </article>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>

    <div id="appChat" class="seccion">
      <h2 class="azul">Centro de mensajes</h2>
      <h3 class="azul">Usuario: <span id="idUser"><%=sessionUser.email%></span></h3>
      <div class="form">
        <div id="messages"></div>
        <input required type="text" name="" id="mensaje" placeholder="Ingrese un mensaje...">
        <button id="" type="button" onclick="sendMessage()">Enviar</button>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="/js/index.js"></script>
  <% } %>
  <script>
    function logout () {
      window.location = '/logout';
    };
  </script>
</body>
</html>